In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.tsa.stattools import adfuller

In [2]:
df = pd.read_csv('C:/Users/culle/Documents/bills/bill_2.csv')

In [3]:
df.head()

       time         cost
0  2022/6/1  5577.192063
1  2022/6/2  1498.141496
2  2022/6/3  1496.548851
3  2022/6/4  1500.158387
4  2022/6/5  1502.531774

392